<link href=".././assets/signup.scss" rel="stylesheet">
<div class="signup">  
  <div class="col-md-12 text-center">
    <div id="user-login">
      <div class="col-md-4"></div>
      <div class="col-md-4 box">
        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">           
            <%= f.email_field :email, :placeholder => "Email", autofocus: true, label: false,  class: 'form-control sup' %></br>
                     
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, :placeholder => "Password", autocomplete: "off", label: false, class: 'form-control sup p1' %></br>
                    
            <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", label: false, autocomplete: "off", class: 'form-control sup' %></br>
          </div>         

          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-warning button "%>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>