.signup{background-color:#fff;background-size:cover;background-position:center;background-repeat:no-repeat;min-height:600px;min-width:100px}.signup .sup{padding-top:19px;padding-bottom:19px}.signup .box{margin-top:146px;border:1px solid;border-color:#ccc;padding-bottom:20px;padding-top:4px}.signup .p1{margin-bottom:14px}.signup .sin{padding-top:19px;padding-bottom:19px}.signup h2{padding-bottom:10px}.signup .btn{margin-bottom:10px}.signup .e1{margin-bottom:10px}
