 
 <meta charset="UTF-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML5,CSS,JavaScript">
  <meta name="author" content="Hege Refsnes">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link href="../../assets/index.scss" rel="stylesheet">
  <link href="../../assets/about.scss" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js" type="text/javascript"></script>  


  <div class=" page31" > 
    <div class="status"></div>    
    <div class="container">    
      <nav class="navbar navbar-default">
        <div class="container-fluid">        
          <div class="navbar-header"> 
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>  
            <a href="#"> <%= image_tag("icons/talentspace1.png", class:"img-responsive main-icon") %></a>         
              
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">              
              <li><a href="/index">HOME</a></li>
              <li><a href="/alumni">ALUMNI</a></li>
              <li><a href="#">ABOUT</a></li>             
              <% if userlogin_signed_in? %>
                <li><a data-method="delete" href="/userlogins/sign_out">SIGN OUT</a>       
              <% elsif current_user %>
                Signed in as <strong><%= current_user.name %></strong>
                <li><a href="/signout">SIGNOUT</a>
              <% else %>        
                <li> <a href="#myLogin"  data-toggle="modal">SIGN IN</a></li>
              <% end %>
            </ul>
          </div> 
        </div>       
      </nav>

      <div class="col-md-12 text-center">
        <h2>About</h2>
        <h3>TalentSpace is a venture to fill the gap between people who are passionate about programming and software industry. We provide training and mentorship in latest technologies.</h3>        
        <div class="col-md-12 brder">
          <h3>We are currently located at K.R Puram, Bangalore.</h3>
        </div>
        <div class="col-md-12">
          <h2>Trainer Profiles</h2>
        </div>
      </div>

      <div class="col-md-12 abt">
        <div class="col-md-3">
          <%= image_tag("img/sajin1.png", class:"img-responsive trainer-image") %>
        </div>
        <div class="col-md-9">
          <h4>Sajin M Prasad</h4>
          <p>
            Sajin M P is a Software Developer from Kerala. He's interested in technology, entrepreneurship and learning new things together.
          </p>
          <p>
            Currently he lives in Bangalore while working remotely for 
            <a href="http://foofys.com/">foOfys   </a>,
            an India based software services company. Earlier, he worked for
            <a href="http://bangthetable.com">Bang the Table</a>
             building 
            <a href="http://engagementhq.com">Community Engagement</a>
            solutions for State and National Governments of Australia, New Zealand and Canada.
          </p>
          <p>
            He's a volunteer at 
            <a href="http://smc.org.in">Swathanthra Malayalam Computing.</a>
             He has participated in 
            <a href="https://www.google-melange.com">Google Summer of Code</a> 
            for the same organization.
          </p>
          <p>
            He loves programming, traveling and photography. He pushes code to 
            <a href="https://github.com">GitHub</a>,
            tweets through @ershus and you can find his resume here.
          </p>
          <p>Email: <a href="mailto:sajin@foofys.com">sajin@foofys.com</a></p>
          <p>Blog: <a href="http://sajinmp.in/">sajinmp.in</a> </p>
        </div>
      </div>

      
      <footer class='footer'>
        <div class='pull-right'>
          <p class='footer-text'>
            Made with ♥ in
            <a target="_blank" href="https://en.wikipedia.org/wiki/Kochi">Kochi</a>
          </p>
        </div>
        <p>© TalentSpace 2015</p>
      </footer>




    </div>
  </div>
  