 
 <meta charset="UTF-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML5,CSS,JavaScript">
  <meta name="author" content="Hege Refsnes">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link href="../../assets/index.scss" rel="stylesheet">
  <link href="../../assets/alumni.scss" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js" type="text/javascript"></script>  


  <div class=" page21" > 
    <div class="status"></div>    
    <div class="container">    
      <nav class="navbar navbar-default">
        <div class="container-fluid">        
          <div class="navbar-header"> 
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>  
            <a href="#"> <%= image_tag("icons/talentspace1.png", class:"img-responsive main-icon") %></a>         
              
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">              
              <li><a href="/index">HOME</a></li>
              <li><a href="#">ALUMNI</a></li>
              <li><a href="/about">ABOUT</a></li>              
              <% if userlogin_signed_in? %>
                <li><a data-method="delete" href="/userlogins/sign_out">SIGN OUT</a>       
              <% elsif current_user %>
                Signed in as <strong><%= current_user.name %></strong>
                <li><a id="sign_out" href="/signout">SIGNOUT</a>
              <% else %>        
                <li> <a href="#myLogin"  data-toggle="modal">SIGN IN</a></li>
              <% end %>
            </ul>
          </div> 
        </div>       
      </nav>

      <div class="col-md-12 text-center">
        <h2>Alumni</h2>        
      </div>
      <div class="row student1 text-center">
        <div class="col-md-4">
          <%= image_tag("alumni/rajeesh.png", class:"img-responsive alumni-image") %>
          <h4>Rajeesh</h4>
          <div class='social-links'>           
            <a target="_blank" class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com"><span class='fa fa-linkedin'></span>
            </a>
            <a target="_blank" class="btn btn-social-icon btn-github" href="https://github.com"><span class='fa fa-github'></span>
            </a>
            <a target="_blank" class="btn btn-social-icon btn-twitter" href="https://twitter.com"><span class='fa fa-twitter'></span>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <%= image_tag("alumni/sebin2.png", class:"img-responsive alumni-image") %>
          <h4>Sebin</h4>
          <div class='social-links'>           
            <a target="_blank" class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com"><span class='fa fa-linkedin'></span>
            </a>
            <a target="_blank" class="btn btn-social-icon btn-github" href="https://github.com"><span class='fa fa-github'></span>
            </a>
            <a target="_blank" class="btn btn-social-icon btn-twitter" href="https://twitter.com"><span class='fa fa-twitter'></span>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <%= image_tag("alumni/vikram2.png", class:"img-responsive alumni-image") %>
          <h4>Vikram</h4>
          <div class='social-links'>           
            <a target="_blank" class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com"><span class='fa fa-linkedin'></span>
            </a>
            <a target="_blank" class="btn btn-social-icon btn-github" href="https://github.com"><span class='fa fa-github'></span>
            </a>
            <a target="_blank" class="btn btn-social-icon btn-twitter" href="https://twitter.com"><span class='fa fa-twitter'></span>
            </a>
          </div>
        </div>
      </div> 
      <div class="row student2 text-center"> 
        <div class="col-md-4">
          <%= image_tag("alumni/rajeesh.png", class:"img-responsive alumni-image") %>
          <h4>Rajeesh</h4>
          <div class='social-links'>           
            <a target="_blank" class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com"><span class='fa fa-linkedin'></span>
            </a>
            <a target="_blank" class="btn btn-social-icon btn-github" href="https://github.com"><span class='fa fa-github'></span>
            </a>
            <a target="_blank" class="btn btn-social-icon btn-twitter" href="https://twitter.com"><span class='fa fa-twitter'></span>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <%= image_tag("alumni/sebin2.png", class:"img-responsive alumni-image") %>
          <h4>Sebin</h4>
          <div class='social-links'>           
            <a target="_blank" class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com"><span class='fa fa-linkedin'></span>
            </a>
            <a target="_blank" class="btn btn-social-icon btn-github" href="https://github.com"><span class='fa fa-github'></span>
            </a>
            <a target="_blank" class="btn btn-social-icon btn-twitter" href="https://twitter.com"><span class='fa fa-twitter'></span>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <%= image_tag("alumni/vikram2.png", class:"img-responsive alumni-image") %>
          <h4>Vikram</h4>
          <div class='social-links'>           
            <a target="_blank" class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com"><span class='fa fa-linkedin'></span>
            </a>
            <a target="_blank" class="btn btn-social-icon btn-github" href="https://github.com"><span class='fa fa-github'></span>
            </a>
            <a target="_blank" class="btn btn-social-icon btn-twitter" href="https://twitter.com"><span class='fa fa-twitter'></span>
            </a>
          </div>
        </div>
      </div> 
      <footer class='footer'>
        <div class='pull-right'>
          <p class='footer-text'>
            Made with ♥ in
            <a target="_blank" href="https://en.wikipedia.org/wiki/Kochi">Kochi</a>
          </p>
        </div>
        <p>© TalentSpace 2015</p>
      </footer>
    </div>
  </div>
  