<link href=".././assets/signup.scss" rel="stylesheet">
<div class="signup">  
  <div class="col-md-12 text-center">
    <div id="user-login">
      <div class="col-md-4"></div>
      <div class="col-md-4 box">
      <h2>Log in</h2>   
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %> 
          <div class="field">
            <%= f.email_field :email,:placeholder => "Email", autofocus: true, class: 'form-control sin e1' %></br>
                   
            <%= f.password_field :password,:placeholder => "Password", autocomplete: "off", class: 'form-control sin' %></br>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-warning button" , id: "quitmodal" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>