.container{
  padding-left: 90px;
  padding-right: 90px;
}

.page31{
  background-color: #fff;
  background-size: cover; 
  background-position: center;
  background-repeat:no-repeat;
  min-height:828px;
}

.page21 .col-md-4 img{
  display: block;
  margin: 0 auto;
  width: 64%;   
}

.navbar-default{
  border-bottom: 1px solid;
  border-bottom-color: #ccc;
      margin-top: 30px;
}

h3 {
    font-size: 20px;
}
.brder{
  border-bottom: 1px solid;
  border-color: #ccc;
  padding-bottom: 20px;
}
p{
  font-size: 15px;
}
.trainer-image{
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
  margin-top: 11px;
  width: 100%;
}

.abt{
  padding-bottom: 83px;
}

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;  
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  
}

@media screen and (max-width: 1252px) and (min-width: 320px) {
  .container{
  padding-left: 20px;
  padding-right: 20px;
}
}


