body {
  font-family: Roboto Condensed, sans-serif;
}
.jumbotron {
  padding-top: 31px;
  padding-bottom: 48px;
}
.page1{
  background: radial-gradient(circle at center,#fff 0,#ced3d8 70%,#ced3d8 100%);
  background-size: cover; 
  background-position: center;
  background-repeat:no-repeat;
  min-height:640px;
}
.logout{
  margin-top: -16px;
}

.navbar-default{
  background-color: transparent;
  border-color: transparent;
  z-index: 500;  
}
nav a{
  background: transparent;
  color: #A9A9A9;
  font-weight: bold;
}

.nav-placeholder{
  margin:0 0 40px 0;
}
.fixed{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
   background-color: #fff;
   margin-top:0 !important;
}

.fixed .nav-inner {
  max-width:1143px;
  margin: 0 auto;
}

.page1 h1{
  font-size: 43px;
  font-weight: bold;
  padding-top: 19px;
}
.page1 .btn-block{
  padding-bottom: 10px;
  padding-top: 10px;
}
.page1 .social-button{
  padding-left: 0;
}
.page1 p{
  margin-bottom: 23px;
}
.page1 .terms{
  padding-left: 0;
  padding-top: 13px;
}
.page1 .terms .para{
  font-size: 12px;
}

.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}
.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.modal-body {
  display: block;
  margin: 0 auto;
}
 
.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}
 
.modal-header, .modal-footer {
    border: 0;
}

.modal-header .close {
  float: none;
  margin: 0;
  font-size: 36px;
  color: #fff;
  font-weight: 300;
  text-shadow: none;
  opacity: 1;
}
.medium-paragraph a {text-decoration: none; }

.medium-paragraph .fa {
  color: #A9A9A9;
  font-size: 40px;
}
.medium-paragraph .video-link-text {
    color: #A9A9A9;
    font-weight: bold;
    position: absolute;
    top: 11px;
    padding-left: 10px
}

.page2{
  background-color: #fff;
  background-size: cover; 
  background-position: center;
  background-repeat:no-repeat;
  min-height:444px;
}
.page2 h2{
  padding-top: 40px;
  padding-bottom: 21px;
}

.page2 .container{
  padding-left: 150px;
  padding-right: 150px;
}
.page3{
  background-color: #fff;
  background-size: cover; 
  background-position: center;
  background-repeat:no-repeat;
  min-height:640px;
}
.page3 .container{
  padding-left: 150px;
  padding-right: 150px;
}

.page3 h3{
  padding-top: 20px;
  padding-bottom: 42px;
}

.page3 .bigb{
    opacity: 0.5;
    display: block;
    margin: auto;
    width: 55%;
    padding-bottom: 24px;
}
.page3 .bigb:hover{
    opacity: 1;    
}

.page3 .chillr{
    opacity: 0.5;
    display: block;
    margin: auto;
    width: 91%;
    margin-top: -5px;
}
.page3 .chillr:hover{
    opacity: 1;    
}

.page3 .bttable{
    opacity: 0.5;
    display: block;
    margin: auto;
    width: 68%;
    margin-top: 7px;
}
.page3 .bttable:hover{
    opacity: 1;    
}

.page3 .lookup{
    opacity: 0.5;
    display: block;
    margin: auto;
    width: 60%;
}
.page3 .lookup:hover{
    opacity: 1;    
}

.page3 .multunus{
    opacity: 0.5;
    display: block;
    margin: auto;
    width: 75%;
}
.page3 .multunus:hover{
    opacity: 1;    
}

.page3 .nilenso{
    opacity: 0.5;
    display: block;
    margin: auto;
    width: 65%;
}
.page3 .nilenso:hover{
    opacity: 1;    
}

.page3 .vibe{
    opacity: 0.5;
    display: block;
    margin: auto;
    width: 35%;
    margin-top: 26px;
}
.page3 .vibe:hover{
    opacity: 1;    
}

.page3 .aeroleads{
    opacity: 0.5;
    display: block;
    margin: auto;
    width: 64%;
    margin-top: 12px;
}
.page3 .aeroleads:hover{
    opacity: 1;    
}

.page3 .hashcube{
    opacity: 0.5;
    display: block;
    margin: auto;
    width: 82%;
    margin-top: -12px;
}
.page3 .hashcube:hover{
    opacity: 1;    
}

.page3 .locus{
    opacity: 0.5;
    display: block;
    margin: auto;
    width: 60%;
    margin-top: 24px;
}
.page3 .locus:hover{
    opacity: 1;    
}
.page3 .quote{
  padding-top: 66px;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;    
    line-height: 1.45;
    position: relative;
    color: #383838;
    border: none;
    
}
blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
  }

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    margin-bottom: 60px;
}
blockquote cite:before {
    content: "\2014 \2009";
}
footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;  
        padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    
}




.signup .sup{
  padding-top: 19px;
  padding-bottom: 19px;
}
.signup .box{
  margin-top: 146px;
  border: 1px solid;
}


@media screen and (max-width: 1252px) and (min-width: 350px) {
 

.page1 .btn-block{
  padding-bottom: 10px;
  padding-top: 10px;
}
.page1 .social-button{
  padding-left: 50px;
  padding-right: 50px; 
}
.page1 .social-button2{
  padding-left: 50px;
  padding-right: 50px;  
}
.page3 .bigb{
  padding-bottom: 29px;
}
.page3 .bigb:hover{
  opacity: 1;    
}
.page3 .chillr{
   
  margin-top: -11px;
}
.page3 .bttable{
  margin-bottom: 20px;
}
.page3 .lookup{
  margin-top: -12px;
}
.page3 .multunus{
  margin-bottom: 27px;
}
.page3 .vibe{
  margin-top: 24px;
}
.page3 .hashcube{
  margin-top: 3px;
}
.page3 .locus{     
  margin-bottom: 27px;
}
.page3 .quote{  padding-top: 66px;
}
blockquote {
        width: 100%;
}
.page3 .container{
  padding-left: 25px;
  padding-right: 25px;
}
.page2 .container{
  padding-left: 25px;
  padding-right: 25px;
}




}
@media screen and (max-width: 344px) and (min-width: 150px) {
   blockquote {
        width: 100%;
}

}
















